/*navbar*/
.navbar{
    padding: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,.1);
    
}

.navbar-brand{
    padding: 1.5rem;
    background-color: #000000;
    text-align: right;
    min-width: max-content;
    color: antiquewhite;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
}

.navbar-brand:active,
.navbar-brand:hover,
.navbar-brand:visited
{
    color: antiquewhite;
}

.jumbotron-fluid{
    margin-top: 80px;
    
}

/*card animes*/

.cardCharacter{
    padding-top: 100px;
}

/*buttons*/

.button-card{
    margin-left: 10px ;
    margin-right:10px ;
}

.hoverButton:hover{
    border: 2px solid black;
    color: #000000;
    font-weight: bold;
    background-color: white;
}

/*spinner loading*/

.loading{
    display: flex;
    justify-content: center;
}
.loading-element{
    margin-top: 300px;
    height: 150px;
    width: 150px;
}

/*offcanvas*/

.font-synopsis{
    font-style: italic;
    font-weight: 400;
    font-family: 'Medieval';
    font-size: 1.5rem;
    position: relative;
    color: rgb(250, 250, 250);
}

.background-offcanvas{
    background-image: url("./images/home-slider.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

/*---------scroll parallax ----------*/


.parallax {
  /* The image used */
  background-image: url("./images/home-slider.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }


.card {
    border: none;
}

.card-body{
    border-left: 1px solid rgba(0,0,0,.15);
}